@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --skin-color: #ec1839;
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.section {
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  position: relative;
  padding: 100 30px;
  margin-left: 270px;
  z-index: 0;
  opacity: 1;
}
.padd-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.services .container {
  padding-top: 70px;
  padding-bottom: 30px;
}
.services .title {
  flex: 0 0 100%;
  max-width: 100%;
}
.services-title h2 {
  font-size: 50px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
  left: -30px;
}
.services-title::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: -25px;
}
.services-title::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: -25px;
  margin-top: 8px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
}
.aside {
  width: 270px;
  background: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
}
.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  position: relative;
}
.aside .logo span {
  color: red;
}
.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
}
.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0px;
}
.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0px;
}
.aside .nav {
  margin-top: 50px;
}
.aside .nav li {
  margin-bottom: 20px;
  display: block;
}
.aside .nav li a {
  font-size: 20px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}
.aside .nav li a.active {
  color: var(--skin-color);
}
.aside .nav. li a i {
  margin-right: 15px;
}
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-black-900);
}
.home .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.home .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.home span {
  color: red;
}
.home .home-info {
  flex: 1 1 55%;
  max-width: 55%;
}
h3.hello {
  font-size: 50px;
  margin: 15px 0;
}
.home-info p {
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--text-black-700);
}
.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: right;
}
.home .home-img::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: -20px;
  bottom: -40px;
}
.home .home-img::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  top: -40px;
  left: 850px;
}
.home .home-img img {
  height: auto;
  max-width: 300px;
}
.home .btn-contact {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 30px;
  color: white;
  display: inline-block;
  white-space: nowrap;
  border-radius: 8px;
  background: var(--skin-color);
  transition: all 0.5 ease;
}
.home .btn-contact:hover {
  background: #c90000;
  transform: translateY(-2px);
}
.services .services-item {
  flex: 1 1 47%;
}
.services .services-item .services-item-inner {
  margin-top: 40px;
  font-size: 17px;
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 20px 15px;
  text-align: center;
  transition: all 0.35 ease;
}
.services .services-item .services-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.services .services-item .services-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}
.services .services-item .services-item-inner:hover .icon {
  background-color: var(--skin-color);
  color: #ffffff;
  font-size: 25px;
}
.services .services-item .services-item-inner p {
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}
.portfolio .container {
  padding-top: 150px;
  padding-bottom: 30px;
}
.portfolio .title {
  flex: 0 0 100%;
  max-width: 100%;
}
.portfolio-title h2 {
  font-size: 50px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
  left: -30px;
  top: -50px;
}
.portfolio-title::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 17px;
  left: -27px;
}
.portfolio-title::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 20px;
  left: -27px;
  margin-top: 8px;
}
.portfolio .portfolio-item {
  flex: 1 1 47%;
}
.portfolio .portfolio-item .portfolio-item-inner {
  margin-top: 40px;
  font-size: 30px;
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 50px 140px;
  text-align: center;
  transition: all 0.35 ease;
}
.portfolio .portfolio-item .portfolio-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.portfolio .portfolio-item .portfolio-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}
.portfolio .portfolio-item .portfolio-item-inner:hover .icon {
  background-color: var(--skin-color);
  color: #ffffff;
  font-size: 25px;
}
.portfolio .portfolio-item .portfolio-item-inner p {
  font-size: 17px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.portfolio h4 {
  color: var(--text-black-900);
}
.contact .container {
  padding-top: 100px;
  padding-bottom: 30px;
}
.contact .title {
  flex: 0 0 100%;
  max-width: 100%;
}
.contact-title-main h2 {
  font-size: 50px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
  left: -44px;
  top: -50px;
}
.contact-title-main::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 20px;
  left: -27px;
}
.contact-title-main::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 20px;
  left: -27px;
  margin-top: 8px;
}
.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}
.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  opacity: 50;
}
.contact .row-item {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  position: relative;
  padding-top: 25px;
}
.contact .contact-item .contact-item-inner {
  font-size: 30px;
  justify-content: center;
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  transition: all 0.35 ease;
}
.contact .contact-item .contact-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-item .contact-item-inner .icon {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  font-size: 35px;
  line-height: 75px;
  color: var(--skin-color);
  transition: all 0.3s ease;
}
.contact .contact-item .contact-item-inner:hover .icon {
  background-color: var(--skin-color);
  color: #ffffff;
  font-size: 30px;
}
.contact-form {
  width: 100%;
  margin-top: 30px;
  margin-left: 240px;
  max-width: 1000px;
  margin-right: auto;
}

.row-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.form-item {
  padding: 5px;
  box-sizing: border-box;
}

.col-6 {
  flex: 0 0 49.0007%;
  max-width: 49.0007%;
  box-sizing: border-box;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-control {
  width: 100%;
  height: 55px;
  border: 1px solid var(--bg-black-50);
  border-radius: 8px;
  background-color: var(--bg-black-100);
  color: var(--text-black-900);
  padding: 10px 15px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.form-control:focus {
  border-color: var(--skin-color);
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
}

textarea.form-control {
  height: 200px;
  resize: none;
}
.btn {
  display: inline-block;
  background-color: var(--skin-color);
  color: #fff;
  padding: 20px 475px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  margin-left: 5px;
}
.btn:hover {
  background-color: #c90000;
  transform: translateY(-2px);
}
@media (max-width: 1200px) {
  /* Force tampilan desktop di semua ukuran */
  body,
  .section,
  .container,
  .home,
  .services,
  .portfolio,
  .contact {
    width: 1200px !important;
    min-width: 1200px !important;
    overflow-x: scroll;
  }

  .aside {
    position: fixed;
    width: 270px !important;
    height: 100% !important;
    display: flex !important;
  }

  .nav-toggler {
    display: none !important;
  }

  .aside .nav {
    display: block !important;
  }
}
